* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: beige;
}
.App {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  gap: 20px;
}
.heading {
  font-size: 31px;
  font-weight: 600;
}
